body{ position: relative; }

html, body{ background: #333; }

.app-content{
    background: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px 0 15px 0;
}

.navbar-brand img{ height: 100%; }

.app-header, .app-footer{
    background: #f60;
    border-color: transparent;
}

.navbar-text.app-brand-text a{
    color: white !important;
    font-weight: bold;
    font-style: italic;
}

.navbar-text.app-brand-text a:hover{
    text-decoration: none;
}

.app-footer{ text-align: center; }
.app-footer .navbar-nav, .app-header .navbar-nav{ margin-right: 60px; }

.app-header .navbar-nav>li>a,.app-footer .navbar-nav>li>a{ color: #fbb; }
.app-header .navbar-nav>li>a:hover, .app-footer .navbar-nav>li>a:hover{ color: #fff; }
.app-header .navbar-nav>li>a:active, .app-footer .navbar-nav>li>a:active{ color: #fff; }

.app-messanger{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.app-messanger-chat{
    padding: 8px 25px;
    border-radius: 5px;
    background: white;
    min-width: 350px;
    display: none;
}

.app-messanger-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    right: 5px;
    background: white;
    border-radius: 25px;
    padding: 5px;
    color: red;
    font-size: 38px;
    text-align: center;
}

.app-messanger-icon.active{ top: 15px; }

.app-messanger-message{
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    max-width: 250px;
}

.app-messanger-message-incoming{
    background: #55f;
    text-align: right;
}

.app-messanger-message-outgoing{
    background: #3c7;
    text-align: left;
}

.app-messanger-message-error{ background: #c33 !important; }

.app-messanger-chat-container {
    max-height: 250px;
    overflow: auto;
}

.app-messanger-chat textarea{
    resize: none;
    height: 30px;
    vertical-align: bottom;
    width: 250px;
    height: 34px;
}

.prenotazione-immagine{
    max-width: 400px;
    max-height: 400px;
}