body{ position: relative; }

html, body{ background: #333; }

.app-content{
    background: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px 0 15px 0;
}

.navbar-brand img{ height: 100%; }

.app-header, .app-footer{
    background: #f60;
    border-color: transparent;
}

.app-header .navbar-nav>li>a,.app-footer .navbar-nav>li>a{ color: #fbb; }
.app-header .navbar-nav>li>a:hover, .app-footer .navbar-nav>li>a:hover{ color: #fff; }
.app-header .navbar-nav>li>a:active, .app-footer .navbar-nav>li>a:active{ color: #fff; }